
.body {
  // position: fixed;
  // left: -100vw;
  //   background-color: black;
  //   top: -6.5vw;
  //   z-index: 0;
  width: 200vw;
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .banner1 {
    background-color: black;
    display: flex;
    height: 105vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  // justify-content: center;
    .logo_box {
      width: 27.6vw;
      margin-left: 7.08vw;
      margin-top: 16.92vw;
      img {
        width: 100%;
      }
      .box {
        margin: 2.55vw;
        justify-content: center;
        display: flex;
        align-items: center;
        p {
          color: #999;
          font-family: Inter;
          font-size: 1.67vw;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-align: justify;
        }
        width: 25.78vw;
        height: 3.59vw;
        border: 0.15625vw solid #238ef3;
      }
    }
    .cartoon {
      width: 62.7vw;
      //   height: 100%;
      position: relative;
      right: -10vw;
      top: 1vw;
      Canvas {
        height: 56.25vw;
        
      }
    }
  }
  .banner2 {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #282828;
    padding-top: 2.03vw;
    .BOX {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 75.06vw;
      .p_1 {
        margin-left: 2.18vw;
          width: 2.08vw;
          margin-top: 5.125vw;
          color: #fff;
          font-family: Poppins;
          font-size: 3.333vw;
          font-weight: 700;
          word-wrap: break-word;
        }
        .p_2 {
            position: relative;
            right: -12vw;
            margin-left: 2.18vw;
            width: 2.08vw;
            height: 11.81vw;
            margin-top: 5.125vw;
            padding-right: 0.5vw;
            color: #A7A7A7;
            font-family: Poppins;
            font-size: 1.875vw;
            font-weight: 700;
            word-wrap: break-word;
            border-right: solid 0.15625vw #238ef3;
        }
        img {
            width: 20.57vw;
            position: relative;
            left:-6.6vw;
            bottom: -10vw;
        }
      .box1 {
        position: relative;
        width: 22.55vw;
        height: 40.83vw;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(
          180deg,
          #0f0d10 0%,
          rgba(15, 13, 16, 0) 100%
        );
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
      }
      .box2 {
        position: relative;
        width: 22.55vw;
        height: 40.83vw;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(
          180deg,
          #0f0d10 0%,
          rgba(15, 13, 16, 0) 100%
        );
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
      }
      .box3 {
        position: relative;
        width: 22.55vw;
        height: 40.83vw;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(
          180deg,
          #0f0d10 0%,
          rgba(15, 13, 16, 0) 100%
        );
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
      }
    }
  }
}
